@use '../variables' as *;
@use '../mixins' as *;
@use '../media' as *;

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-light;

  &.is-open {
    .main-nav {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
    }

    .header__cart {
      opacity: 0;
      pointer-events: none;
    }

    .header__toggle {
      border-color: transparent;

      span {
        &:first-child{
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child{
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    @include vp-959 {
      height: 58px;
    }
  }

  &__logo {
    @include vp-1279 {
      position: relative;
      z-index: 20;
    }
  }

  &__group {
    display: flex;
    align-items: center;

    @include vp-1279 {
      position: relative;
      z-index: 20;
    }
  }

  &__cart {
    @include flex-center;

    flex-shrink: 0;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color $trans-default, opacity $trans-default;

    svg {
      display: block;
      width: 16px;
      height: 16px;
      stroke: $color-gray;
      transition: stroke $trans-default;
    }

    @include hover {
      border-color: $color-accent-blue;

      svg {
        stroke: $color-accent-blue;
      }
    }

    @include active {
      border-color: $color-accent-blue-dark;

      svg {
        stroke: $color-accent-blue-dark;
      }
    }

    @include vp-959 {
      margin: 0;
    }
  }

  &__toggle {
    position: relative;
    display: none;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    margin-left: 20px;
    border: 1px solid $color-accent-orange-light;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    transition: background-color $trans-default, border-color $trans-default;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 14px;
      height: 1px;
      border-radius: 2px;
      background-color: $color-dark;
      transform: translate(-50%, -50%);
      transition: background-color $trans-default, opacity $trans-default, transform $trans-default, top $trans-default;

      &:first-child {
        top: calc(50% - 4px);
      }

      &:last-child {
        top: calc(50% + 4px);
      }
    }

    @include hover {
      background-color: $color-accent-orange-light;
    }

    @include active {
      background-color: $color-accent-orange-dark;

      span {
        background-color: $color-light;
      }
    }

    @include vp-1279 {
      display: block;
    }

    @include vp-959 {
      margin-left: 12px;
    }
  }
}
