// colors
$color-dark:                 #191a23;
$color-dark-alt:             #292a32;
$color-light:                #fff;
$color-accent:               #b9ff66;
$color-gray:                 #f3f3f3;
$color-gray-alt:             #898989;

// fonts
$font-family-base: "NAME", sans-serif;

// transitions
$transition-default: 0.3s ease;
$transition-long: 0.6s ease;
